<div class="section-container" id="eventos-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Eventos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="./assets/images/post-1.png" alt="" class="img-responsive">
                <h3 class="text-center">Introdução a Programação Python</h3>
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <img src="./assets/images/post-2.png" alt="" class="img-responsive">
                <h3 class="text-center">Introdução a Machine Learning</h3>
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <img src="./assets/images/post-3.png" alt="" class="img-responsive">
                <h3 class="text-center">Primeiros passos com React!</h3>
                <p class="truncate"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <img src="./assets/images/post-4.png" alt="" class="img-responsive">
                <h3 class="text-center">She's Tech Conference</h3>
                <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>
        <div style="text-align:center">
            <button onclick="location.href='events.html'" class="btn btn-primary anchor-link" title="">Ver mais</button>
        </div>
    </div>
</div>