<div class="section-container" id="eventos-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Eventos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <a href="events.html">
                    <img src="./assets/images/post-1.png" alt="" class="img-responsive">
                    <h3 class="text-center">Introdução a Programação Python</h3>
                </a>
                <p class="truncate">Evento que visou ensinar programação para 
                    mulheres que não são da área de tecnologia.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <a href="events.html">
                    <img src="./assets/images/post-2.png" alt="" class="img-responsive">
                    <h3 class="text-center">Introdução a Machine Learning</h3>
                </a>
                <p class="truncate">Evento realizado no campus UFMG, ministrado por alunas e integrantes da comunidade.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <a href="events.html">
                    <img src="./assets/images/post-3.png" alt="" class="img-responsive">
                    <h3 class="text-center">Primeiros passos com React!</h3>    
                </a>
                <p class="truncate"> Evento realizado no escritório da empresa parceira Mundiale.
                    Que contou com a presença de uma palestrante convidada. 
                </p>
            </div>
            <div class="col-xs-12 col-md-3">
                <a href="events.html">
                    <img src="./assets/images/post-4.png" alt="" class="img-responsive">
                    <h3 class="text-center">She's Tech Conference</h3>
                </a>
                <p class="truncate">Confira o conteúdo apresentado pela comunidade no maior 
                    evento para mulheres na tecnologia do Brasil.</p>
            </div>
        </div>
        <div style="text-align:center">
            <button onclick="location.href='events.html'" class="btn btn-primary anchor-link" title="">Ver mais</button>
        </div>
    </div>
</div>