<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Sobre</h3>
            <p><b>Girls Support Girls Community</b> é uma iniciativa independente e sem
                fins lucrativos que visa apoiar e aumentar o número de mulheres na ciência da computação.</p>
        </div>

        <div class="col-md-4">
            <h3>Conecte-se!</h3>
            <div>
                <ul class="list-icons">
                    <li><a class="fa fa-facebook fa-2x" href="https://www.facebook.com/groups/gsg.ufmg"
                           target="_blank" title="Facebook"></a></li>
                    <li><a class="fa fa-twitter fa-2x" href="#"></a></li>
                    <li><a class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/company/girls-support-girls"
                           target="_blank" title="LinkedIn"></a></li>
                    <li><a class="fa fa-instagram fa-2x" href="https://www.instagram.com/gsg.ufmg/"
                           target="_blank" title="Instagram"></a></li>
                    <li><a class="fa fa-github fa-2x" href="https://github.com/girls-support-girls"
                           target="_blank" title="Github"></a></li>
                </ul>
            </div>
            <div>
                <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
            </div>

        </div>

        <div class="col-md-4">
            <h3>Entre em Contato</h3>
            <p>gsg.ufmg@gmail.com</p>
        </div>
    </div>
</div>