<div class="section-container" id="parceiros-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Parcerias</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <img src="./assets/images/gsg-mini-logo-partner.svg" alt="" class="img-responsive svg-partner">
                </div>
            <div class="col-xs-12 col-md-2">
                <img src="./assets/images/gsg-mini-logo-partner.svg" alt="" class="img-responsive svg-partner">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="./assets/images/gsg-mini-logo-partner.svg" alt="" class="img-responsive svg-partner">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="./assets/images/gsg-mini-logo-partner.svg" alt="" class="img-responsive svg-partner">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="./assets/images/gsg-mini-logo-partner.svg" alt="" class="img-responsive svg-partner">
                </div>
            <div class="col-xs-12 col-md-2">
                <img src="./assets/images/gsg-mini-logo-partner.svg" alt="" class="img-responsive svg-partner">
            </div>
        </div>
        <div style="text-align:center">
            <button onclick="location.href='partners.html'" class="btn btn-primary anchor-link" title="">Quer ser nosso parceiro?</button>
        </div>
    </div>
</div>